

header{
    @include display(flex, space-around, center);
    flex-direction: column;
    padding-top: 2rem;
    .logo{
        flex: 0 0 calc(80% - 1rem);
        a{
            h2{
                font-family: $font3;
                text-transform: capitalize;
                font-size: 3rem;
                padding-bottom: 2rem;
            }
        }
    }
            nav{
                
                ul{
                    text-align: center;
                    margin: 0 auto;
                    @include display(flex, space-between, center);
                    flex-direction: column;

                    
                    li{
                        padding: {
                            left: 1rem;
                            right: 1rem;
                            top: 1.2rem;
                        };
                        a{
                            font-size: 1.4rem;
                        }
                    }

                }
            }
}

@media (min-width:600px){


    header{
        @include display(flex, space-around, center);
        padding-top: 2rem;
        flex-direction: row;
        .logo{
            flex: 0 0 calc(30% - 1rem);
            a{
                h2{
                    font-family: $font3;
                    text-transform: capitalize;
                    font-size: 2rem;
                }
            }
        }
                nav{
                    ul{
                        @include display(flex, space-between, center);
                        
                        flex-direction: row;
                        li{
                            padding: {
                                left: 1rem;
                                right: 1rem;
                                bottom: 1rem;
                                top: 1rem;
                            };
                            a{
                                font-size: 1.2rem;
                            }
                            &:last-child{
                                border: 2px solid $color3;
                            }
                        }
                        
    
                    }
                    
                }
    }





}
@media (min-width:769px) and (max-width:992px){
}
@media (min-width:993px){
}
