.hero{

    padding-top: 3rem;
    @extend .contenedor;
    @include display(flex, space-around, center);
    
    
    h1{
        flex: 0 0 calc(40% - 1rem);
        display: none;
        font-size: 5rem;
        color: $color7;
        position: relative;
        z-index: 100;
        &::after{
            content: '';
            position: absolute;
            
            top: -30px;
            left:70% ;
            border: 7px solid $color7;
            border-right-color: transparent;
            border-left-color: transparent;
            border-width: 0px 16px 30px;
            background: transparent;

            z-index: -1;
            animation: rotar 6s linear infinite ;
            
        }
        
    }   
    img{
        $hwimg: 60%;
        flex: 0 0 calc( 30% - 1rem);
        width: $hwimg;
        height: $hwimg;
        position: relative;
        z-index: 0;
        
    }
}


@media (min-width:600px){
    .hero{

        padding-top: 3rem;
        
        @include display(flex, space-around, center);
        
        h1{
            flex: 0 0 calc(40% - 1rem);
            font-size: 5rem;
            color: $color7;
            position: relative;
            z-index: 100;
            display: block;
            &::after{
                content: '';
                position: absolute;
                
                top: -30px;
                left:70% ;
                border: 7px solid $color7;
                border-right-color: transparent;
                border-left-color: transparent;
                border-width: 0px 16px 30px;
                background: transparent;
    
                z-index: -1;
                animation: rotar 6s linear infinite ;
                
            }
            
        }   
        img{
            $hwimg: 40%;
            flex: 0 0 calc( 30% - 1rem);
            width: $hwimg;
            height: $hwimg;
            position: relative;
            z-index: 0;
            
        }
    }
}