$color1: #fff;
$color2: #000;
$color3: #ef6817;
$color4: #21201f;
$color5: #727271;
$color6: #5f605d;
$color7: #383838;
$color8: rgba(0, 0, 0, 0.5) ;
$color9: rgba(225, 225, 225, 0.2) ;
$golden-color: -webkit-linear-gradient(#efb810,#ffbf00);
$font1: 'Bebas Neue', cursive;
$font2: 'Della Respira', serif;
$font3: 'Lobster', cursive;







html{
    font-family: $font1;
}

a{
    text-decoration: none;
    color: $color2;
    &:hover{
        @extend a;
    }
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin display($tipo, $justi, $align){
    display: $tipo;
    justify-content: $justi;
    align-items: $align;
}

@import 'header';

@import 'hero';

.galery{
    margin-top: 3rem;
    @extend .contenedor;
    margin-bottom: 3rem;
    h2{
        @include display(flex, center, center);
        font-size: 3rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 1;
        &:before{
            position: absolute;
            content: 'galery';
            z-index: -1;
            color: $color3;
            font-size: 4rem ;
            top: 1rem;
            right: 6rem;
        }
        
    }
    .cont-imagenes{
        @include display(flex, space-around, center);
        flex-direction: column;
        img{
            width: 70%;
            flex: 0 0 calc(70% -1rem);
            margin-top: 2rem;
            height: 500px;
            border: 3px solid $color4;
        }
    }
}


@media (min-width: 600px){

.galery{
    margin-top: 3rem;
    @extend .contenedor;
    margin-bottom: 3rem;
    h2{
        @include display(flex, flex-end, center);
        font-size: 3rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 1;
        &:before{
            position: absolute;
            content: 'galery';
            z-index: -1;
            color: $color3;
            font-size: 4rem ;
            top: 1rem;
            right: 2rem;
        }
        
    }
    .cont-imagenes{
        @include display(flex, space-around, center);
        flex-direction: row;
        img{
            width: 30%;
            flex: 0 0 calc(30% -1rem);
            
            
            height: 600px;
            border: 3px solid $color4;
        }
    }
}
}


.historia{
    @extend .contenedor;
    .cont-historia{
        @include display(flex, space-around, center);
        flex-direction: column;
        img{
            order: 2;
            flex: 0 0 calc(70% - 1rem);
            width: 70%;
        }
        .cont-text{
            h3{
                @include display(flex, flex-start, center);
                font-size: 3rem;
                margin-bottom: 3rem;
                position: relative;
                z-index: 1;
                &:before{
                    position: absolute;
                    content: 'history';
                    z-index: -1;
                    color: $color3;
                    font-size: 4rem ;
                    top: 1rem;
                    left: 2rem;
                }
                
            }
        }
    }
}

@media (min-width:600px){
    .historia{
        @extend .contenedor;
        .cont-historia{
            @include display(flex, space-around, center);
            flex-direction: row;
            img{
                order: -1;
                flex: 0 0 calc(40% - 1rem);
                width: 40%;
            }
            .cont-text{
                h3{
                   
                    font-size: 3rem;
                    margin-bottom: 3rem;
                    position: relative;
                    z-index: 1;
                    &:before{
                        position: absolute;
                        content: 'history';
                        z-index: -1;
                        color: $color3;
                        font-size: 4rem ;
                        top: 1rem;
                        left: 2rem;
                    }
                    
                }
            }
        }
    }

    
    
}

.contmainfooter{
    margin-top: 2rem;
    @include display(flex, space-between, center);
    flex-direction: column;
    
    @extend .contenedor;
    .direccion{
        flex: 0 0 calc(30% - 1rem);
        border-bottom: 2px solid $color3;
        padding: 2rem;
        h4{
            font-size: 2rem;
            padding-bottom: 2rem;
        }

        p{
            font-family: $font2;
            padding-bottom: 1rem;
            span{
                color: $color3;
            }
            &:nth-child(2){
                font-family: $font3;
            }
            &:nth-child(3){
                font-family: $font1;
            }
            &:nth-child(4){
                font-family: $font1;
            }
            &:nth-child(5){
                font-family: $font1;
            }
        }
        
    }
    .horarios{
        flex: 0 0 calc(30% - 1rem);
        @include display(flex, space-around, center);
        border-bottom: 2px solid $color3;
        padding: 2rem;
        text-align: left;
    }

    .siguenos{
        @include display(flex, center, center);
        flex-direction: column;
        padding: 1rem;
        p{
            padding: 1rem;
        }

        a{
            padding: 1rem;
            margin-top: 2rem;
            background: $color3;
        }

    }
}
@media (min-width: 600px){
    .contmainfooter{
        margin-top: 2.1rem;
        @include display(flex, space-between, center);
        flex-direction: row;
        @extend .contenedor;
        .direccion{
            flex: 0 0 calc(30% - 1rem);
            border-right: 2px solid $color3;
            border-bottom: none;
            padding: 2rem;
            
            
        }
        .horarios{
            flex: 0 0 calc(30% - 1rem);
            @include display(flex, space-around, center);
            border-right: 2px solid $color3;
            border-bottom: none;
            padding: 2rem;
            text-align: left;
        }
    
        .siguenos{
            @include display(flex, center, center);
            flex-direction: column;
            padding: 1rem;
            p{
                padding: 1rem;
            }
    
            a{
                padding: 1rem;
                margin-top: 2rem;
                background: $color3;
            }
    
        }
    }
    
}




p{
    i{
        color: $color3;
    }
}
.titulo-form{
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    position: relative;
    margin-bottom: 3rem;
    &:before{
        position: absolute;
        content: 'form contact';
        z-index: -1;
        color: $color3;
        font-size: 2rem ;
        top: 1rem;
        
    }
}

.formularioreg{
    @include display(flex, space-around, center);
    flex-direction: column-reverse;
    @extend .contenedor;
    img{
        width: 40vw;
    }
    form{
        @include display(flex, space-around, center);
        flex-direction: column;
        width: 80vw;
        input{
            margin: 1rem;
            width: 100%;
            appearance: none;
            border: none;
            padding: 1rem;
            border-bottom: 2px solid $color5;
            font-size: 1.2rem;
            font-family: $font1;
            &:focus{
                border:none;
                border-bottom: 3px solid $color3;
                
                
            }


        }
        input[type="submit"]{
            margin: 1rem;
            width: 100%;
            appearance: none;
            border: none;
            padding: 1rem;
            border-bottom: 2px solid $color5;
            font-size: 1.2rem;
            font-family: $font1;
            &:hover{
                background: $color3;
            }
        }
        select{
            
            width: 100%;
            appearance: none;
            border: none;
            padding: 1rem;
            border-bottom: 2px solid $color5;
            font-size: 1.2rem;
            font-family: $font1;
            &:focus{
                border:none;
                border-bottom: 3px solid $color3;
                
                
            }

        }
        label{
            margin: 1rem;
        }
    }
}

@media (min-width: 500px){
    .titulo-form{
        
        font-size: 4rem;
        
        &:before{
            position: absolute;
            content: 'form contact';
            z-index: -1;
            
            font-size: 4rem ;
          
            
        }
    }
    .formularioreg{
        @include display(flex, space-around, center);
        flex-direction: row;
        @extend .contenedor;
        img{
            width: 40vw;
        }
        form{
            @include display(flex, space-between, center);
            flex-direction: column;
            width: 60vw;
            input{
                margin: 1rem;
                width: 100%;
                appearance: none;
                border: none;
                padding: 1rem;
                border-bottom: 2px solid $color5;
                font-size: 1.2rem;
                font-family: $font1;
                &:focus{
                    border:none;
                    border-bottom: 3px solid $color3;
                    
                    
                }
    
    
            }
            input[type="submit"]{
                margin: 1rem;
                width: 100%;
                appearance: none;
                border: none;
                padding: 1rem;
                border-bottom: 2px solid $color5;
                font-size: 1.2rem;
                font-family: $font1;
                &:hover{
                    background: $color3;
                }
            }
            select{
                
                width: 100%;
                appearance: none;
                border: none;
                padding: 1rem;
                border-bottom: 2px solid $color5;
                font-size: 1.2rem;
                font-family: $font1;
                &:focus{
                    border:none;
                    border-bottom: 3px solid $color3;
                    
                    
                }
    
            }
            label{
                margin: 1rem;
            }
        }
    }
}



@keyframes rotar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
