$color1: #fff;
$color2: #000;
$color3: #ef6817;
$color4: #21201f;
$color5: #727271;
$color6: #5f605d;
$color7: #383838;
$color8: rgba(0, 0, 0, 0.5) ;
$color9: rgba(225, 225, 225, 0.2) ;
$golden-color: -webkit-linear-gradient(#efb810,#ffbf00);
$font1: 'Bebas Neue', cursive;
$font2: 'Della Respira', serif;
$font3: 'Lobster', cursive;







html{
    font-family: $font1;
}

a{
    text-decoration: none;
    color: $color2;
    &:hover{
        @extend a;
    }
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin display($tipo, $justi, $align){
    display: $tipo;
    justify-content: $justi;
    align-items: $align;
}

@import 'header';

@import 'hero';



.galery{
    margin-top: 3rem;
    @extend .contenedor;
    margin-bottom: 3rem;
    h2{
        @include display(flex, flex-end, center);
        font-size: 3rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 1;
        &:before{
            position: absolute;
            content: 'galery';
            z-index: -1;
            color: $color3;
            font-size: 4rem ;
            top: 1rem;
            right: 2rem;
        }
        
    }
    .cont-imagenes{
        @include display(flex, space-around, center);
        img{
            width: 30%;
            flex: 0 0 calc(30% -1rem);
            
            height: 600px;
            border: 3px solid $color4;
        }
    }
}

.historia{
    @extend .contenedor;
    .cont-historia{
        @include display(flex, space-around, center);
        img{
            flex: 0 0 calc(40% - 1rem);
            width: 40%;
        }
        .cont-text{
            h3{
                @include display(flex, flex-start, center);
                font-size: 3rem;
                margin-bottom: 3rem;
                position: relative;
                z-index: 1;
                &:before{
                    position: absolute;
                    content: 'history';
                    z-index: -1;
                    color: $color3;
                    font-size: 4rem ;
                    top: 1rem;
                    left: 2rem;
                }
                
            }
        }
    }
}



@keyframes rotar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
